.home {
  display: flex;
  align-items: center;
  position: relative;
}

.headline p {
  max-width: 540px;
  font-size: var(--font-size-h5);
}

.headline p:first-of-type {
  margin: 0 0 30px 0;
}

.cover-image {
  position: absolute;
  right: 43px;
  z-index: -1;
}