.contact {
  justify-content: space-between;
}

.contact address {
  padding-left: 20px;
  font-style: normal;
}

.contact address p {
  font-size: var(--font-size-h2);
  font-weight: 700;
}

.contact address a {
  font-size: var(--font-size-h3);
}

.contact form {
  max-width: 560px;
  display: flex;
  flex-direction: column;
}

.contact legend {
  font-size: var(--font-size-h3);
  margin: 0 0 20px;
}

.contact form > div {
  display: flex;
}

.contact input,
.contact textarea,
.contact button {
  background: transparent;
  color: var(--color-copy);
  border: 2px solid var(--color-copy);
  border-radius: 5px;
  box-sizing: border-box;
}

.contact input,
.contact textarea {
  padding: 13px 0 13px 20px;
  margin: 0 0 20px 0;
  opacity: 75%;
}

.contact textarea {
  height: 135px;
}

.contact input[name='pronoun'],
.contact input[name='name'] {
  width: 50%;
}

.contact input[name='pronoun'] {
  margin-right: 20px;
}

.contact input[name='message'] {
  height: 135px;
}

.contact button {
  width: 180px;
  height: 45px;
  align-self: flex-end;
}

@media (max-width: 1050px) {
  .contact {
    flex-direction: column-reverse;
  }

  .contact address {
    text-align: center;
    margin-bottom: 40px;
  }

  .contact address p {
    font-size: var(--font-size-h2);
  }

  .contact address a {
    font-size: var(--font-size-h3);
  }

  .contact button {
    align-self: center;
  }
}

@media (max-width: 520px) {
  .contact address p {
    font-size: var(--font-size-h4);
  }

  .contact address a {
    font-size: var(--font-size-h5);
  }

  .contact form > div {
    flex-direction: column;
  }

  .contact input[name='pronoun'],
  .contact input[name='name'] {
    width: 100%;
  }
}